* {
    box-sizing: border-box;
    margin: 0px;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item{
    border-radius: 50%;
}

.probe {
    background-color: red;
}

#galaxy { 
    height: 85vh;
    width: 85vw;
    margin: 12px;
    display: flex;
    flex-direction: column;
    border: solid rgb(159, 159, 159);
}

.row {
    flex: 1;
    display: flex;
}

.item {
    flex: 1;
}