* {
    box-sizing: border-box;
    margin: 0px;
}

.item, #galaxy {
    border: solid rgb(159, 159, 159);
    border-width: thin;

}

.probe {
    background-color: red;
}

#galaxy { 
    height: 85vh;
    width: 85vw;
    margin: 12px;
    display: flex;
    flex-direction: column;
    
}

.row {
    flex: 1;
    display: flex;
}

.item {
    flex: 1;
}